@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Italic.eot');
    src: url('../fonts/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb-Italic.woff') format('woff'),
        url('../fonts/TitilliumWeb-Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}